<%= render "shared/header" %>

<div class='form-wrap'>
  <%= form_with model: @dog, class: 'registration-user', local: true do |f| %>
  <%= render 'shared/error_messages', model: f.object %>

    <h2 class='title'>ワンちゃんプロフィール編集</h2>
    <div class = 'destory'>
      <%= link_to '登録解除', dog_path, method: :delete, data: { confirm: "ワンちゃんの登録を解除しますか？" }, class:'dog-destroy' %>
    </div>
    <%= render partial:'shared/newdog', locals: { f: f } %>
  
  <% end %>
</div>