<%= render "shared/header"%>

  <div id="dog-show">

    <div class="dog-info">
      <% @dogs.each do |dog| %>

        <% if dog.dog_sex_id == 2 %>
          <h1><%= dog.name %>ちゃんのページ</h1>
        <% elsif dog.dog_sex_id == 3 %>
          <h1><%= dog.name %>くんのページ</h1>
        <% end %>

        <% if user_signed_in? && dog.user_id == current_user.id %>
          <%= link_to("プロフィール編集",  edit_dog_path(dog.id), {class: "profile-edit"}) %>
        <% end %>

        <div class='dog-icon'>

            <ul class="bxslider">
              <% dog.images.each do |image| %>
                <li><%= image_tag image, class: "dog-img" %></li>
              <% end %>
            </ul>

        </div>

        <div class="profile-group">
          <label class="profile-text">親：</label> <h2><%= link_to dog.user.nickname, user_path(dog.user.id) %></h2>
        </div>

        <div class="profile-group">
          <label class="profile-text">犬種：</label> <h2><%= dog.type.name %></h2>
        </div>
        
        <div class="profile-group">
          <label class="profile-text">性別：</label> <h2><%= dog.dog_sex.name %></h2>
        </div>

        <div class="profile-group">
          <label class="profile-text">特徴、嗜好、性格など：</label>
          <div class="dog-explain-box">
            <textarea class="dogs-text" readonly><%= dog.description %></textarea>
          </div>
        </div>

      <% end %>
    </div>
    
    <div class="comment-box">
      <% if user_signed_in? %>
        <%= form_with(model: [@dog, @comment], local: true) do |form| %>
          <%= form.text_area :text, placeholder: "コメントする", rows: "2" %>
          <%= form.submit "SEND", id: "submit-btn" %>
        <% end %>
      <% else %>
        <strong><p>※※ コメントの投稿には新規登録/ログインが必要です ※※</p></strong>
      <% end %>

            <h4>＜コメント一覧＞</h4>

      <div class="comments" id='comments'>

        <% if @comments %>
          <% @comments.each do |comment| %>
          <p>
            <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
            <%= comment.text %>

            <% if user_signed_in? && current_user.id == comment.user_id %>
              <%= link_to ":削除", "/dogs/#{@dog.id}/comments/#{comment.id}", method: :delete %>
            <% end %>
          </p>
          <% end %>
        <% end %>
  
      </div>
    
    </div>
    
  </div>
