<%= render "shared/header"%>

  <div id="user-show">

    <div class="user-icon">
      <%= image_tag @user.avatar.url ,class:"icon_image" %>
    </div>

    <div class="user-info">

      <% if user_signed_in? && @user == current_user %>
        <%= link_to("プロフィール編集",  edit_user_path(current_user), {class: "profile-edit"}) %>
      <% end %>
      
      <div class="profile-group">
        <label class="profile-text">ユーザー名：</label> <h2><%= @user.nickname %></h2>
      </div>

      <div class="profile-group">
        <label class="profile-text">年齢：</label> <h2><%= @user.age.name %></h2>
      </div>


      <div class="profile-group">
        <label class="profile-text">都道府県：</label> <h2><%= @user.prefecture.name %></h2>
      </div>       

      <div class="profile-group">
        <label class="profile-text">市区町村：</label> <h2><%= @user.city %></h2>
      </div>

      <% unless @dogs.presence %>  
        <strong><p>※※※ ワンちゃんが未登録です ※※※</p></strong>
      <% else %>
        <div class="profile-group">
          <label class="profile-text">ワンちゃんのお名前：</label> 
          <% @dogs.each do |dog| %>
            <h2><%= link_to dog.name, dog_path(dog.id) %></h2>
          <% end %>
        </div>
      <% end %>  

    </div>

  </div>