<div class="flower flowerR">
  <%= link_to image_tag("top_flower.png", width:"257") %>
</div>
<div class="flower flowerL">
  <%= link_to image_tag("top_flower.png", width:"257")%>
</div>
<header class='top-page-header'>
  <div class="header-image">
    <%= link_to image_tag("xoxo.png", class:"pettle-icon"), '/' %>
  </div>
  <div class='nav'>
    <ul class='lists-right'>
        <li><%= link_to 'DOGGLEとは', "/", class: "list-item" %></li>
        <li><%= link_to '新規登録', "/", class: "list-item" %></li>
        <li><%= link_to 'ログイン', "/", class: "list-item" %></li>
    </ul>
  </div>
</header>